<div class='card text-white bg-success mb-3 mx-5'>
  <div class='card-body'>
    <a href='/blogs/{{id}}' class='card-title'>{{title}}</a>
    <p class='card-text'>{{username}}.</p>
    <p class='card-text'>{{contents}}.</p>
  </div>
</div>